<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="admin-status">Urgent/New Admin Content Goes Here</div>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-button expand="block">Staff Portal <ion-icon slot="end" name="briefcase-outline"></ion-icon></ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block">Guest Portal <ion-icon slot="end" name="globe-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block">Account Wizard </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
