<ion-header>
  <ion-toolbar>
    <ion-title>Staff</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <textarea name="staff-content-editable" id="staff-content-editable">Staff Content Goes Here</textarea>
      </ion-col>
    </ion-row>
    <ion-row class="save-cancel">
      <ion-col>
        <ion-button expand="block">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">Save</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="modifiers">
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Urgent</ion-label>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
