<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <textarea name="public-content-editable" id="public-content-editable">Public Content Goes Here</textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
