<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col id="content">
        <div id="public-content">Public Content Goes Here</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-login-page></app-login-page>

  <app-sign-up-page></app-sign-up-page>
</ion-content>
